@using Travel_Trip_Project.Models.Siniflar
@model List<Otel>

@{
    ViewBag.Title = "OtelIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Otel Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.OtelBaslik</td>
            <td><a href="/Admin/OtelSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/OtelGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Blog/BlogDetay/@x.ID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a style="margin-bottom:20px" href="/Admin/YeniOtel/" class="btn btn-primary">Yeni Otel Ekle</a>

