@model Travel_Trip_Project.Models.Siniflar.User

@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <style>
        body {
        }

        .login {
            width: 36%;
            height: 450px;
            margin: 0 auto;
            border: 1px solid black;
            background-color: rgba(23,23,23, 0.7);
        }

        .header {
            padding: 20px;
        }

        .form-control{
            margin-bottom:14px;
        }

        .btn{
            font-size: 18px;
            padding: 10px 20px;
            letter-spacing: 1.2px;
            border: none;
            text-transform: capitalize;
            outline: none;
            background: #03A9F4;
            color: #fff;
            cursor: pointer;
            margin: 0 auto;
            -webkit-transition-duration: 0.9s;
            transition-duration: 0.9s;
        }

            .btn:hover {
                -webkit-transition-duration: 0.9s;
                transition-duration: 0.9s;
                background: rgba(91, 157, 214, 0.76);
            }
    </style>

</head>

<body>
    <div class="padding-all">
        <div class="login">
            <div class="header" style="margin: 0;">
                <h1 style="font-size:30px; padding:0;">A-Travel Üye Kayıt</h1>
            </div>

            <div class="design-w3l" style=" width:400px; margin: 0px auto 20px auto ;">
                <div class="mail-form-agile">
                    @using (Html.BeginForm("YeniUye", "UyeKayit", FormMethod.Post))
                    {

                        @Html.TextBoxFor(x => x.Kullanici, new { @class = "form-control", @placeholder = "Kullanıcı Adınız", @name = "Kullanici" })

                        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @placeholder = "E Postanız", @name = "Mail" })

                        @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", @placeholder = "Şifreniz", @name = "Sifre" })

                        <button style="margin-bottom:20px" class="btn btn-primary">Üye Kayıt</button>

                    }
                    @*<input type="submit" value="Üye Kayıt">*@
                    @*<input type="text" name="Kullanici" placeholder="Kullanıcı Adınız..." required="" />*@
                    @*<input type="password" name="Sifre" class="padding" placeholder="Şifreniz..." required="" />*@
                    @*<input type="submit" value="Üye Ol">*@

                </div>
                <div class="clear"> </div>
            </div>
        </div>

        @*<div class="footer">
                <p>© 2023 A-Travel. Tüm Hakları Saklıdır. | Design by  <a href="https://w3layouts.com/">  w3layouts </a></p>
            </div>*@
    </div>
</body>
</html>
